* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

@font-face {
	font-family: "PP Neue Montreal";
	src: url("/fonts/PPNeueMontreal-Book.otf");
}

@font-face {
	font-family: "PP Neue Montreal Medium";
	src: url("/fonts/PPNeueMontreal-Medium.otf");
}

@font-face {
	font-family: "PP Neue Montreal Bold";
	src: url("/fonts/PPNeueMontreal-Medium.otf");
}

:root {
	--Almost-black: #141414;
}

html {
	font-size: 16px;
}

body {
	background-color: #f7f7f4;
	width: 100%;
	height: auto;
}

/* Navigations styling */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
}

.nav-container {
	position: relative;
	width: 100%;
	height: auto;
}

.right-links a {
	color: var(--Almost-black, #141414);
	font-family: "Open Sans";
	font-size: 0.9rem;
	letter-spacing: 0.015rem;
}

.company-name img {
	display: block;
	width: 120px;
	height: auto;
	margin-right: 50px;
}

.logo-links {
	justify-content: space-between;
	display: flex;
	gap: 30px;
	align-items: center;
}

.logo-links a {
	color: var(--Almost-black, #141414);
	font-family: "Open Sans";
	font-size: 0.9rem;
	letter-spacing: 0.015rem;
}

.right-links {
	position: relative;
	display: flex;
	gap: 10px;
}

.stagger-link-text {
	display: inline-block;
	text-shadow: 0px 1em 0px;
	line-height: 1;
	overflow: hidden;
}

.stagger-link {
	position: relative;
	display: inline-block;
}

/* Hero styling */

.mockupherosec {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.scrolldish {
	position: absolute;
	top: 20%;
	right: 0%;
	width: 30vw;
	display: block;
	height: auto;
}

.heroimage {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

/* Slider styling */

.mockupmaaltidssed {
	margin-top: 8vh;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 0px 64px;
}

.mockupmaaltidssed img {
	width: 100%;
	height: 100vh;
	object-fit: contain;
	display: block;
}

.madbilcon {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 40vh;
	border-radius: 20px 20px 0px 0px;
	overflow: hidden;
}

.madbilcon svg {
	position: absolute;
	width: 30px;
	height: auto;
	top: 1vh;
	right: 1vw;
	fill: #790000;
}

.madbilcon img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.madkort {
	position: relative;
	flex: 0 0 calc(25% - 40px);
	margin: 0 20px;
	border-radius: 20px;
	height: auto;
	cursor: pointer;
	transition: 300ms cubic-bezier(0.44, 0.69, 0, 0.88);
}

.card-text {
	padding-bottom: 15px;
}

.madkort:hover {
	scale: 1.05;
	transition: 300ms cubic-bezier(0.44, 0.69, 0, 0.88);
}

.madkort h3 {
	margin-top: 15px;
	display: inline-block;
	padding: 6px 16px;
	border-radius: 60px;
	background-color: #bc002d;
	color: #fff;
	font-family: "PP Neue Montreal";
	font-size: 13px;
	margin-bottom: 15px;
	letter-spacing: 0.05rem;
}

.madkort h1 {
	color: #000;
	font-family: "PP Neue Montreal";
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 700;
	margin-bottom: 10px;
}

.madkort h2 {
	color: #000;
	font-family: "PP Neue Montreal";
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
}

.mad-car {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20vh;
	padding: 0px 32px;
}

.mad-car-con {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	padding: 20px 0px;
}

.madkort-wrapper {
	display: flex;
	transition: transform 1s cubic-bezier(0.09, 0.8, 0.35, 0.92);
	align-items: stretch;
}

.arrow {
	margin: 0 32px;
}

.mad-car-head {
	margin-top: 10vh;
	margin-bottom: 50px;
	color: #000;
	text-align: left;
	font-family: "PP Neue Montreal";
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.72px;
	margin-left: 64px;
}

.arrow-left,
.arrow-right {
	position: relative;
	display: inline-block;
}

.arrow-left::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("/images/arrowleftvar.svg");
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity 0.1s ease-in;
}

.arrow-right::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("/images/arrowrightvar.svg");
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity 0.1s ease-in;
}

.arrow-left:hover::before,
.arrow-right:hover::before {
	opacity: 1;
}

.arrow-left img,
.arrow-right img {
	transition: opacity 0.1s ease-in;
	cursor: pointer;
}

.arrow-left:hover img,
.arrow-right:hover img {
	opacity: 0;
}

/* Værdier og footer styling */

.logosection {
	width: 80vw;
	height: auto;
	display: block;
	margin: auto;
}

.footerpic {
	width: 100%;
	height: auto;
	display: block;
	margin-top: 20vh;
}
